:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart-container {
  border-radius: 0.8rem;
  background-color: var(--white);
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
}

.character-figure {
  display: inline;
  padding: 0.5rem;
}

.character-figure:hover {
  background-color: var(--blue);
  color: var(--white);
}

.character-figure img {
  width: 100%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.character-figure figcaption {
  margin-top: 0.75rem;
  text-align: center;
}

.character-name,
.character-title {
  font-weight: bold;
}

.character-name {
  font-size: 1.5rem;
}

.character-title {
  font-size: 1rem;
  margin-bottom: 0;
}

#results.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}

@media screen and (min-width: 1024px) {
  #results.grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

#results {
  padding: 1rem;
}
